//Variables
$light-bg: #ffffff;
$dim-light-bg: darken($light-bg, 3%);
$nav-bg: #3eb489;
$nav-text: #ebeced;
$search-border: #43c293;
$search-bg: darken($nav-bg, 10%);
$dark-text: #444444;
$main-content-width: 70vw;
$reg-size: 1.3rem;

//Mixins
@mixin align-head-foot {
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

@mixin align-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

@mixin flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fill-screen {
    position: fixed;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    bottom: 0;
    right: 0;
}

// Universal Elements
.edit-button {
    width: 24px;
    height: 24px;
    background: none;
    color: $search-bg;
    border: 1px solid $search-bg;
    border-radius: 20px;
    cursor: pointer;
}

.edit-button:hover {
    color: $dark-text;
    border: 1px solid $dark-text;
}

.featured-text {
    font-size: 0.9rem;
    font-style: italic;
    padding-left: 1em;
}
