//Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//Variables
$light-bg: #ffffff;
$dim-light-bg: darken($light-bg, 3%);
$nav-bg: #3eb489;
$nav-text: #ebeced;
$search-border: #43c293;
$search-bg: darken($nav-bg, 10%);
$dark-text: #444444;
$main-content-width: 70vw;
$reg-size: 1.6rem;
$fet-size:1.2rem;
$h1-size: 3rem;
$h2-size: 1.8rem;
$h3-size: 1.6rem;
$sl-size: 2rem;

//Mixins
@mixin align-head-foot {
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

@mixin align-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

@mixin flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fill-screen {
    position: fixed;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    bottom: 0;
    right: 0;
}

@mixin google-font{
    font-family: 'Nunito', sans-serif;
}