@use 'utils';

.quotes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding-top: 2em;

    a {
        color: utils.$search-bg;
        text-decoration: none;
    }

    a:hover {
        color: utils.$dark-text;
    }
}

.quotes-item {
    width: 100%;
    min-height: 150px;
    background: utils.$dim-light-bg;
    border-radius: 5px;
    padding: 1em;
    justify-content: center;

    .author-name::before {
        content: '- ';
    }
}

.quote-edit {
    display: flex;
    justify-content: flex-end;
}

//Mobile layouts
@media screen and (max-width:870px) {
    .quotes-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:560px){
    .quotes-container{
        grid-template-columns: 1fr;
    }
}