@use 'utils';

.authors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    padding-top: 2em;

    a {
        color: utils.$search-bg;
        text-decoration: none;
    }

    a:hover {
        color: utils.$dark-text;
    }
}

.authors-item {
    width: 250px;
}
