@use 'utils';

.footer {
    display: flex;
    justify-content: space-between;
    width: utils.$main-content-width;
    padding-top: 1.5em;
}

.social-links {
    width: 128px;
    display: flex;
    justify-content: flex-end;
}

.sl-icon {
    max-width: 32px;
    margin: 0 1em;
}

//Mobile layouts
//iPad
@media screen and (max-width:1300px) {
    .footer {
        width: utils.$ipad-content-width;
    }
}