@use 'utils';

.home-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;

    .main-top {
        display: flex;
        justify-content: center;
        padding-bottom: 3em;
    }

    .main-bottom {
        display: flex;
        justify-content: center;
        background: utils.$dim-light-bg;
        min-height: 60vh;
        padding: 2.5em 0;
    }
}

.content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-search-form {
    display: flex;
    justify-content: center;
    padding: 3em 0;
}

.home-search-box {
    width: 50vw;
    height: 2em;
    padding-left: 0.3em;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
}

.home-card {
    width: 33.3vw;
    min-height: 30vh;
}

.home-card-content {
    color: utils.$dark-text;

    a {
        color: utils.$search-bg;
        text-decoration: none;
    }

    a:hover {
        color: utils.$dark-text;
    }
}

.site-description {
    padding-right: 2em;
}

.des-item {
    padding: 0.5em 0;
}

.home-authors {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 2em;
}

.home-socials {
    padding: 0 2em;
}

.home-social-links {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.home-social-link {
    background: utils.$nav-bg;
    padding: 0.5em;
    display: flex;
    align-items: center;
}

.home-social-link:hover {
    padding-left: 1em;
}

.home-social-link.linked-in {
    background: utils.$search-bg;
}

.home-sl-link span {
    color: utils.$light-bg;
    font-size: utils.$sl-size;
    padding-left: 0.7em;
}

.home-sl-icon {
    height: 32px;
    width: 32px;
}

.authors-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.authors-item {
    padding: 0.1em 0;
}

.quotes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 2em;
}

.home-quotes-item {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom: 1px solid utils.$dark-text;
    padding-bottom: 1em;

    .author-name::before {
        content: '- ';
    }
}

//Mobile layouts
//iPad
@media screen and (max-width:1180px) {
    .authors-list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(32, 1fr);
    }

    .home-social-links {
        width: 20vw;
    }
}
/*

.content-square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
    margin-top: 2em;
}

.home-card-content {
    background: white;
    padding: 2em;
    min-height: 30vh;
    border-radius: 5px;
}
*/
