//Imports
@use 'utils';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 62.5%;
}

body {
    @include utils.google-font;
    font-size: utils.$reg-size;
    color: utils.$dark-text;
    background: utils.$light-bg;
}

.comp-parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header {
    background: utils.$nav-bg;
    position: fixed;
    @include utils.align-head-foot;
}

.page-content {
    width: utils.$main-content-width;
}

.page-footer {
    @include utils.align-head-foot;
}

.page-description {
    padding: 0.8em 0;
}

//buttons
.form-button {
    background: utils.$dark-text;
    color: utils.$dim-light-bg;
    border: none;
    border-radius: 5px;
    padding: 0.3em;
    cursor: pointer;
}

.form-button:hover {
    background: lighten(utils.$dark-text, 10%);
}

//special elements
.featured-text {
    font-size: utils.$fet-size;
    font-style: italic;
    padding-left: 1em;
}

.error-text {
    color: utils.$error-text;
}
.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-icon{
    height: 200px;
    width: 200px;
}

//headings
.big-home-heading {
    font-size: utils.$h1-size;
    align-self: center;
}

.home-heading {
    font-size: utils.$h2-size;
    margin-bottom: 0.5em;
}
.small-home-heading {
    font-size: utils.$h3-size;
}

//forms
.item-form {
    padding-top: 2em;
}

.form-group {
    margin-bottom: 2.5em;
}

.form-text-box {
    background: utils.$dim-light-bg;
    min-width: 400px;
    border: none;
    border-bottom: 1px solid utils.$dark-text;
    border-radius: 2px;
    padding: 0.3em;
    color: utils.$dark-text;
    @include utils.google-font;
    font-size: utils.$reg-size;
}

.form-text-area {
    resize: none;
}

.featured-group {
    display: flex;
    gap: 0.3em;
    color: utils.$dark-text;
    font-size: utils.$reg-size;
    align-items: center;
}

.labeled-group {
    display: flex;
    flex-direction: column;
}
.labeled-group label {
    padding: 0.5em;
}

.buttons-group {
    display: flex;
    gap: 0.5em;
    margin-bottom: 0;
}
