@use 'utils';

.popup-main {
    @include utils.fill-screen;
    @include utils.flex-align;
}

.popup-bg {
    @include utils.fill-screen;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    z-index: 999;
    background: utils.$dim-light-bg;
    border-radius: 3px;
    padding: 3em;
    @include utils.flex-align;
}
