@use '../../vars';

.popup-main {
    @include vars.fill-screen;
    @include vars.flex-align;
}

.popup-bg {
    @include vars.fill-screen;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    z-index: 999;
    background: vars.$light-bg;
    height: 30vh;
    width: 30vw;
    border-radius: 10px;
    @include vars.flex-align;
}
