@use '../../vars';

.footer {
    display: flex;
    justify-content: space-between;
    width: vars.$main-content-width;
    padding-top: 1.5em;
}

.social-links {
    width: 128px;
    display: flex;
    justify-content: flex-end;
}

.sl-icon {
    max-width: 32px;
    margin: 0 1em;
}
