//Variables
$light-bg: #ffffff;
$dim-light-bg: darken($light-bg, 3%);
$nav-bg: #3eb489;
$nav-text: #ebeced;
$search-border: #43c293;
$search-bg: darken($nav-bg, 10%);
$dark-text: #444444;
$main-content-width: 70vw;

//Mixins
@mixin align-head-foot {
    width: 100vw;
    display: flex;
    justify-content: center;
}

@mixin flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fill-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
}
