@use 'vars';
@use './components/Home/Home';
@use './components/Nav/Nav';
@use './components/Popup/Popup';
@use './components/Footer/Footer';
@use './components/Quotes/Quotes';
@use './components/DisplayQuotes/DisplayQuotes';
@use './components/Authors/Authors';
@use './components/DisplayAuthors/DisplayAuthors';
@use './components/AuthorQuotes/AuthorQuotes';

.comp-parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header {
    background: vars.$nav-bg;
    position: fixed;
    @include vars.align-head-foot;
}

.home-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    flex-direction: column;

    .main-top {
        display: flex;
        justify-content: center;
        padding-bottom: 3em;
    }

    .main-bottom {
        display: flex;
        justify-content: center;
        background: vars.$dim-light-bg;
        min-height: 60vh;
        padding: 2.5em 0;
    }
}

.quotes-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

.authors-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

.author-quotes-main {
    margin-top: 8em;
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
}

.page-footer {
    @include vars.align-head-foot;
}

.page-content {
    width: vars.$main-content-width;
}

.edit-button {
    width: 24px;
    height: 24px;
    background: none;
    color: vars.$search-bg;
    border: 1px solid vars.$search-bg;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
}

.edit-button:hover {
    color: vars.$dark-text;
    border: 1px solid vars.$dark-text;
}

.featured-text {
    font-size: 0.9rem;
    font-style: italic;
    padding-left: 1em;
}
